<launch>

  <arg name="robotname1" default="robot_0" />
  <arg name="robot_map1" default="map0" />
  <arg name="robotname2" default="robot_1" />
  <arg name="robot_map2" default="map1" />
  
  <arg name="base_frame" default="base_frame" />
  <arg name="laser_topic" default="scan" />
  <arg name="laser_frame" default="laser_frame" />


<group ns="$(arg robotname2)">
    <node pkg="cg_mrslam" type="sim_mrslam" name="slam" output="screen" args="-idRobot 1 -nRobots 2 -publishMap -publishGraph -mapFrame /$(arg robot_map2) -odomFrame /$(arg robotname2)/odom -baseFrame /$(arg robotname2)/$(arg base_frame) -odometryTopic /$(arg robotname2)/odom -scanTopic /$(arg robotname2)/$(arg laser_topic) -minInliers 5 -inlierThreshold 3. -o test.g2o"/>
</group>

</launch>