<launch>
  <master auto="start"/>


<!--
<node pkg="thin_joystick_teleop" name="joystick" type="joy_teleop_node"/>
-->


<node pkg="srrg_orazio_ros" name="orazio" type="orazio_robot_node">
	<param name="serial_device" value="/dev/ttyACM1" />
</node>



<node pkg="thin_hokuyo" name="laser" type="thin_hokuyo_node"/>


<node pkg="srrg_core_ros" name="state_publisher" type="srrg_state_publisher_node" output="screen" args="-c $(find mr_exploration)/marrtino/marrtino_transforms.txt" />


<node pkg="mr_exploration" name="slam" type="slam_node" output="screen" args="-timeUpdate 0 -angularUpdate 0.5 -linearUpdate 0.5 -scanTopic scan -type 0" />




<!--
<include file="$(find mr_exploration)/move_base_config/slam_gmapping.xml"/>
-->

<!--
<node pkg="mr_exploration" name="planner" type="frontier_planner" output="screen"
args="-iter 5" />
-->

<include file="$(find mr_exploration)/move_base_config/move_base.xml"/>


<node pkg="rviz" type="rviz" name="visualizer" output="screen" args="-d $(find mr_exploration)/config.rviz"/>


</launch>



