<launch>

  <arg name="action" default="exploration" />

  <arg name="robotid" default="0" />
  <arg name="nrobots" default="1" /> 

  <arg name="robotname" default="robot_0" />
  <arg name="base_frame" default="base_frame" />
  <arg name="laser_topic" default="scan" />
  <arg name="laser_frame" default="laser_frame" />
  <!-- <arg name="world_file" default="my_AUTOGEN_DISB1_diago.world" /> -->
  <!-- <arg name="world_file" default="hospital.world"/> -->
  <arg name="world_file" default="hospital.world"/>
  <arg name="mapname" default="hospital"/>


  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <node pkg="stage_environments" type="stageros_experimental" name="stageros" args="-u $(find exploration_ros)/maps/$(arg world_file)" respawn="false" required="true" output="screen">
    <param name="base_watchdog_timeout" value="0.2"/>
    <param name="base_frame"            value="$(arg base_frame)"/>
    <param name="laser_topic"           value="$(arg laser_topic)"/>
    <param name="laser_frame"           value="$(arg laser_frame)"/>
  </node>
 
  <group ns="$(arg robotname)">

    <param name="robotname" value="$(arg robotname)" />
    <param name="tf_prefix" value="$(arg robotname)" />

    <node pkg="map_server" type="map_server" name="map_server" args="$(find exploration_ros)/maps/$(arg mapname).yaml" respawn="false" >
      <param name="frame_id" value="/$(arg robotname)/map" />
    </node>

    <node pkg="cg_mrslam" type="cg_mrslam" name="cg_mrslam" 
      args=" -modality sim -idRobot $(arg robotid) -nRobots $(arg nrobots) -scanTopic  /$(arg robotname)/$(arg laser_topic) -odometryTopic  /$(arg robotname)/odom -mapFrame /$(arg robotname)/map -odomFrame /$(arg robotname)/odom -baseFrame /$(arg robotname)/base_frame -publishMap -publishGraph -o cg_mrslam.g2o " output="screen">
    </node>

<node pkg="spqrel_navigation" type="spqrel_planner_node" name="spqrel_planner" output="screen">
      <param name="static_map_service" value="/$(arg robotname)/map"/>
      <param name="robot_radius" value="0.2"/>
      <param name="map_topic" value="/$(arg robotname)/map"/> 
      <param name="global_frame_id" value="/$(arg robotname)/map"/>
      <param name="base_frame_id" value="/$(arg robotname)/$(arg base_frame)"/>
      <param name="laser_topic" value="/$(arg robotname)/$(arg laser_topic)"/>
      <param name="cmd_vel_topic" value="/$(arg robotname)/cmd_vel"/>
      <param name="min_angular_vel" value="0.1"/>
      <param name="max_linear_vel" value="0.5"/>
      <param name="use_gui" value="true"/>
    </node>

    <node pkg="exploration_ros" name="explorer_client" type="exploration_action_client" output="screen">
      <param name="action" value="exploration" />
    </node> 

    <node pkg="exploration_ros" name="explorer_server" type="exploration_node" output="screen" respawn="false">  
      <param name="action"        value="exploration" />
      <param name="mapFrame"      value="/$(arg robotname)/map" /> 
      <param name="baseFrame"     value="/$(arg robotname)/$(arg base_frame)" />  
      <param name="laserFrame"    value="/$(arg robotname)/$(arg laser_frame)" />
      <param name="scanTopic"     value="/$(arg robotname)/$(arg laser_topic)" /> 
      <param name="pointsTopic"   value="/$(arg robotname)/points" /> 
      <param name="markersTopic"  value="/$(arg robotname)/markers" /> 
      <param name="idRobot"       value="$(arg robotid)" />
      <param name="nRobots"       value="$(arg nrobots)" />
      <param name="regionSize"    value="15" /> 
    </node> 
  </group>

  <node pkg="rviz" type="rviz" name="visualizer1" output="screen" args="-d $(find exploration_ros)/config/$(arg robotname)/rviz/diago.rviz"/>

</launch>
