<launch>

   <arg name="laser_topic" default="/scan" />
   <arg name="odom_topic" default="/odom" />
   <arg name="imu_topic" default="" />

   <arg name="published_odom_topic" default="/odom_calib" />
   <arg name="base_link_frame_id" default="/base_link"/>

   <arg name="use_gui" default="true"/>
   <arg name="use_odom" default="true" />
   <arg name="publish_odom" default="true"/>

   <arg name="laser_translation_threshold" default="-1.0"/>
   <arg name="laser_rotation_threshold" default="-1.0"/>

   <node name="srrg_scan_matcher" pkg="srrg_scan_matcher_ros" type="srrg_scan_matcher_node">
      <param name="use_gui" type="bool" value="$(arg use_gui)"/>			 
      <param name="use_odom" type="bool" value="$(arg use_odom)"/>
		 
      <param name="laser_topic" type="string" value="$(arg laser_topic)"/>			 
      <param name="odom_topic" type="string" value="$(arg odom_topic)"/>			 
      <param name="imu_topic" type="string" value="$(arg imu_topic)"/>

      <param name="base_link_frame_id" type="string" value="$(arg base_link_frame_id)"/>

      <param name="publish_odom" type="bool" value="$(arg publish_odom)"/>	
      <param name="published_odom_topic" type="string" value="$(arg published_odom_topic)"/>
      <param name="publish_tf" value="true"/>		
      <param name="laser_translation_threshold" type="double" value="$(arg laser_translation_threshold)"/>			 
      <param name="laser_rotation_threshold" type="double" value="$(arg laser_rotation_threshold)"/>			 
	 
   </node>
</launch>
